{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-marketing" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-marketing" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
			
          </div>
		  
		   <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-area">{{ entry_area }}</label>
            <div class="col-sm-10">
              <input type="text" name="area" value="{{ area }}" placeholder="{{ entry_area }}" id="input-area" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_area }}</div>
              {% endif %}
            </div>
			
          </div>
		  
		   <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
            <div class="col-sm-10">
              <input type="text" name="type" value="{{ type }}" placeholder="{{ entry_type }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_type }}</div>
              {% endif %}
            </div>
			
          </div>
		  
		   
		  
		  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
            <div class="col-sm-10">
              <textarea name="description" rows="5" placeholder="{{ entry_description }}" id="input-description" class="form-control">{{ description }}</textarea>
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-description">{{ entry_guidelines }}</label>
            <div class="col-sm-10">
              <textarea name="guidelines" rows="5" placeholder="{{ entry_guidelines }}" id="input-guidelines" class="form-control">{{ guidelines }}</textarea>
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-helpline">{{ entry_helpline }}</label>
            <div class="col-sm-10">
              <textarea name="helpline" rows="5" placeholder="{{ entry_helpline }}" id="input-description" class="form-control">{{ helpline }}</textarea>
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-disclaimer">{{ entry_disclaimer }}</label>
            <div class="col-sm-10">
              <textarea name="disclaimer" rows="5" placeholder="{{ entry_disclaimer }}" id="input-description" class="form-control">{{ disclaimer }}</textarea>
            </div>
          </div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#input-code').on('keyup', function() {
	$('#input-example1').val('{{ store }}?tracking=' + $('#input-code').val());
	$('#input-example2').val('{{ store }}index.php?route=common/home&tracking=' + $('#input-code').val());
});

$('#input-code').trigger('keyup');
//--></script></div>
{{ footer }}