{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>

       <div class="panel-body">
          <br/>
          <h2>{{ text_report_header }}</h2>
          <hr/>
          <br/>
          <div>
            <h4>{{ title_head }}</h4>
            <p style="font-size:16px;font-weight:800;">{{ title_value }}</p>
          </div>
          <br/>
          <div>
            <h4>{{ time_head }}</h4>
            <p style="font-size:16px;font-weight:800;">{{ time_value }}</p>
          </div>
          <br/>
          <div>
            <h4>{{ description_head }}</h4>
            <p style="font-size:16px;font-weight:800;" >{{ description_value }}</p>
          </div>
          <br/>
          <div>
            <h4>{{ status_head }}</h4>
            <p style="font-size:16px;font-weight:800;" >{{ status_value }}</p>
          </div>
          <br/>
          <div>
            <h4>{{ image_head }}</h4>
            <img src="{{image_value}}" />
          </div>
          <br/>
          <br/>
          <h2>{{text_user_header}}</h2>
          <hr/>
          <div>
            <h4 name="filter_group_id" value="Damnik" >{{ username_head }}</h4>
            <p style="font-size:16px;font-weight:800;" >{{ username_value }}</p>
          </div>
          <br/>
          <div>
            <h4>{{ email_head }}</h4>
            <p style="font-size:16px;font-weight:800;" >{{ email_value }}</p>
          </div>
          <br/>

      </div>



    </div>
  </div>
<script type="text/javascript"><!--
$('#button-upload').on('click', function() {
	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=catalog/download/upload&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$('#button-upload').button('loading');
				},
				complete: function() {
					$('#button-upload').button('reset');
				},
				success: function(json) {
					if (json['error']) {
						alert(json['error']);
					}

					if (json['success']) {
						alert(json['success']);

						$('input[name=\'filename\']').val(json['filename']);
						$('input[name=\'mask\']').val(json['mask']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script></div>
{{ footer }}
